.new_task_wrapper {
	display: flex;
	margin-bottom: 30px;
}
.new_task_input {
	padding: 16px;
	font-weight: 600;
	color: #959595;
	flex: 1;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: 1px solid #f6f6f6;
	box-shadow: 2px 2px 8px 0 #c0c0c0;
	letter-spacing: 1px;
}

.new_task_button {
	background-color: #0631f8;
	color: #fff;
	padding: 18px 24px;
	font-weight: 900;
	border: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
