.task_list_item {
	border: 1px solid #f6f6f6;
	border-radius: 8px;
	box-shadow: 2px 2px 8px 0 #cfcfcf;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding: 0 16px;
	margin-bottom: 16px;
}

.task_list_text {
	margin-left: 12px;
	flex: 1;
}

.task_list_cta {
	display: flex;
	column-gap: 16px;
	cursor: pointer;
}

.task_list {
	padding: 0;
}

.sr_only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.task_list_item:hover {
	border: 1px solid #0631f8;
}

.deleted_task_list_item:hover {
	border: 1px solid red;
}

.deleted_task_list_item {
	border: 1px solid #f6f6f6;
	border-radius: 8px;
	box-shadow: 2px 2px 8px 0 #cfcfcf;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding: 0 16px;
	margin-bottom: 16px;
}
.done_task_list_item:hover {
	border: 1px solid green;
}

.done_task_list_item {
	border: 1px solid #f6f6f6;
	border-radius: 8px;
	box-shadow: 2px 2px 8px 0 #cfcfcf;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding: 0 16px;
	margin-bottom: 16px;
}

.circle {
	cursor: pointer;
}
